/* Css styles for the site */

* {
    font-family: 'Verdana', 'Arial';
}

html {
    background-color: #ffffff;
}

#mainContainer {
    max-width: 800px;
    margin: 0 auto;
}

#introSection {
    display: block;
    align-items: center;
}

#personalProjects {
    display: block;
    align-items: center;
}

.paragraphText {
    margin-left: 1%;
}

.lineBreak {
    background-color: #000000;
    height: 2px;
    display: flex;
    margin-bottom: 2px;
}

.projectName {
    display: flex;
}

.projectType {
    color: #00A388;
}