/* Css styles for the site */

html {
    background-color: #b5e6f5;
}

h1,
h3,
p {
    margin-left: 1%;
    font-family: 'Verdana', 'Arial'
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr,
td {
    border-style: solid;
    font-family: 'Verdana', 'Arial';
    width: 50%;
}


th {
    border-style: solid;
    font-family: 'Verdana', 'Arial';
    width: 50%;
    margin: 2px;
    font-size: 22px;
}

#introSection {
    display: flex;
    align-items: center;
}

.paragraphText {
    margin-left: 1%;
}

#personalProjects {
    background-color: #f7a49e;
}

#schoolProjects {
    background-color: #f7bc9e;
}