/* Css styles for the site */

* {
    font-family: 'Verdana', 'Arial';
    color: #e6e6e6;
}

html {
    background-color: #131415;
}

p,
li {
    color: #a9a9a9
}

#userName {
    font-size: 36px;
}

#mainContainer {
    max-width: 700px;
    margin: 0 auto;
}

#introSection {
    display: block;
    align-items: center;
}

#personalProjects {
    display: block;
    align-items: center;
}

.paragraphText {
    margin-left: 1%;
}

.lineBreak {
    background-color: #00A388;
    height: 1px;
    display: flex;
    margin-bottom: 2px;
}

.projectCard {
    margin-top: 2px;
    border-left: 1px solid;
}

.projectName {
    display: flex;
}

.projectType {
    color: #00A388;
}